<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="side">
    <button mat-flat-button>Home</button>
    <button mat-flat-button>Stores</button>
    <button mat-flat-button>Media</button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="toolbar">
      <mat-toolbar>
        <mat-toolbar-row>
          <button mat-button (click)="sidenav.toggle()">Menu</button>
          <a routerLink="" class="title">Go Market.</a>
          <span class="example-spacer"></span>
          <a routerLink="signin"  style="float: right;">Sign in</a>
          <a routerLink="signup"  style="float: right;">Sign up</a>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
